@{
    var name = "Parv Mehta";
    var studentNumber = "101501920";
    var courseCode = "Comp2139 - w2025";
}

<div>
    <h1>Welcome to the Page</h1>
    <p> Name : @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
</div>